

main {
    display: flex;
}

.content-wrapper {
    padding: 1em;
    width: 70%;
}

.side-navigation {
    width: 25%
}


header {
	background-color: tan;
	color: white;
}



body {
      background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

form {
  	margin: 2em;
      
}

h2, h3, h4, h5, h6 {
	font-family: 'Raleway', cursive;
}

p {
  	font-family: 'Raleway', cursive;
}

header {
	background-color: tan;
	color: white;
}
header img {
	padding: 0em;
	margin: 0;
}
a {
	color: #993333;
}
a:hover {
	text-decoration: none;
}
  




.main-navigation nav {
	background-color: gray;
	border-bottom: 2px solid black;
	padding: 1em;
}
.main-navigation nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-navigation nav li {
	display: inline-block;
	padding-right: 1em;
}



.main-navigation nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
     padding: 10px 20px;
}
.main-navigation nav a:hover {
	color: gold;
}


.view-content img{
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    clear: both;
}

.views-row {
    margin: 1em;
    padding-bottom: 2em;
}


.view-content a{
    color: brown;
	font-family: 'Raleway', cursive;
	text-decoration: none; 
    font-size: x-large;
}




.node__content {
    margin: 2em;
}

.field--name-field-review-image {
    float: left;
}

.field--name-field-map {
    float: right;
}



.field--name-field-name {
    padding-top: 1em;
    clear: both;
    color: brown;
	font-family: 'Raleway', cursive;
    font-size: x-large;
    text-align: right;
}

.field--name-field-address {
    text-align: right;
}


.field--name-body {
    margin-top: 1em;
    border-top: 2px solid brown;
    clear: both;
}

.field--name-field-gallery {
    margin: 0 auto;
    padding-bottom: 2em;
    align: center;
    text-align: center;
    border-bottom: 2px solid brown;
    
}

.field--name-field-cuisine {
    margin-top: 2em;
}